NODE_ENV=development

# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_PRONOSTICS_CHANNEL_ID=
DISCORD_RESULTS_CHANNEL_ID=
DISCORD_ADMIN_CHANNEL_ID=

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/discord_kop_prono

# Admin
ADMIN_HOST=127.0.0.1
ADMIN_PORT=3000
